<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCE21ZPa3FervfcDLPuLYZ6DfW5jlVypkc</string>
	<key>GCM_SENDER_ID</key>
	<string>2348967712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agrimart</string>
	<key>PROJECT_ID</key>
	<string>agrimart-online-crops-auction</string>
	<key>STORAGE_BUCKET</key>
	<string>agrimart-online-crops-auction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2348967712:ios:e69dcf17ee4a9e52aa1945</string>
	<key>DATABASE_URL</key>
	<string>https://agrimart-online-crops-auction-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>